- set_page_title 'Thank you for your interest in HistoryForge!'
p Your volunteer application has been received. The HistoryForge Project Coordinator will be in touch with you soon about your volunteer interest.
= link_to 'Return to HistoryForge', root_path
