<% if admin_authorized? %>
  <div class="col">
    <div class="row">
      <div class="col-6">
        <span class="h3">Search</span>
      </div>
      <div class="col-6">
        <%= link_to 'Create User', new_user_invitation_path, class: 'btn btn-primary float-right btn-sm' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <%= render "search_form" %>
      </div>
      <div class="col-9">
        <table class="table table-striped table-condensed">
          <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled?</th>
            <th>Roles</th>
          </tr>
          </thead>
          <tbody>
          <%= render @users %>
          </tbody>
        </table>
        <%= paginate @users %>
      </div>
    </div>
  </div>
<%end%>
