- set_page_title 'Users'
- if can?(:create, User)
  - content_for :pills do
    = link_to 'Create User', new_user_path, class: 'btn btn-primary float-right btn-sm'

.row
  .col-3= render "search_form"
  .col-9
    = table do
      thead
        tr
          th Username
          th Email
          th Group
          th Enabled?
          th Roles
      tbody= render @users
    = paginate @users
