<div id="nav">
  <a href="/">Home</a> |
<!--  <a href="/about">About</a> |-->
  Supported by
  <a href="http://thehistoryceneter.net">The History Center in Tompkins County</a>
  and
  <a href="http://gorges.us">GORGES</a>
</div>
