= hidden_field_tag 'census_record[owned_or_rented]', nil, id: 'chf1'
= hidden_field_tag 'census_record[mortgage]', nil, id: 'chf3'
= hidden_field_tag 'census_record[naturalized_alien]', nil, id: 'chf5'

= Census1920FormFields.new(form).render