- set_page_title 'Edit Document'


= simple_form_for (@building || @person) ? [(@building || @person), @document] : @document, html: { data: { controller: 'document' } } do |form|
  = render 'form', form: