@import 'include-media';

button.gm-ui-hover-effect {
  display: none !important;
}

body.streetview {
  #forge-right-col, #forge-sidebar-toggle, header {
    display: none;
  }
}

#forge {
  #map-wrapper {
    position: absolute;
    left: 0;
    top: 66px;
    #map {
      width: 100vw;
      height: calc(100vh - 66px);
    }
  }
}

#near-me-button {
  position:absolute;
  z-index: 17;
  left: 6px;
  bottom: 6px;
}

#focusing {
  position: absolute;
  z-index: 17;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  bottom: 100px;
  background: #298dcc;
  color: white;
  padding: 1rem;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}

#forge-left-col {
  position: absolute;
  z-index: 19;
  box-sizing: border-box;
  background-color: white;
  max-height: calc(100vh - 66px);
  overflow-y: scroll;
  &.closed {
    left: -100%;
  }
  &.open {
    left: 0;
  }
  // transition: 0.5s left ease;

  h3 + .btn-group {
    .btn {
      padding: 0.375rem 0;
    }
  }
  .btn-group {
    margin-bottom:12px;
  }
  .layer {
    margin-bottom: 6px;
    .form-check-label {
      max-width: 400px;
    }
  }
  .layer-slider {
    width: 400px;
  }
}

#forge-right-col {
  position: absolute;
  z-index: 19;
  box-sizing: border-box;
  background-color: white;
  max-height: calc(100vh - 66px);
  overflow-y: scroll;
  &.closed {
    left: -100%;
  }
  &.open {
    left: 0;
  }
  // transition: 0.5s left ease;

  h3 + .btn-group {
    .btn {
      padding: 0.375rem 0;
    }
  }
  .btn-group {
    margin-bottom:12px;
  }
}

#button-bar {
  position: absolute;
  z-index: 20;
}

#forge-sidebar-right-closer,
#forge-sidebar-left-closer {
  z-index: 20;
  position: absolute;
  top: 14px;
  right: 16px;
}

@include media('<tablet') {
  #forge #map-wrapper {
    width: 100vw;
    overflow: hidden;
    top: 56px;
    #map {
      width: 100vw;
      height: calc(100vh - 56px);
    }

  }

  #button-bar {
    top: 64px;
    left: 6px;
  }

  #forge-left-col,
  #forge-right-col {
    top:58px;
    width:100%;
    padding: 15px;
  }
}

@include media('>=tablet') {
  #forge #map-wrapper {
    width: 100vw;
    height: 100% !important;
  }

  #button-bar {
    top: 80px;
    left: 16px;
  }

  #forge-left-col,
  #forge-right-col {
    top:66px;
    //margin-left: calc(100% - 450px);
    min-width:400px;
    max-width:90%;
    padding: 15px 15px 15px;
  }
}

#miniforge {
  position:relative;
  .map-wrap {
    width:100%;
    height: auto;
    #map {
      width: 100%;
      height: 300px;
    }
    select {
      margin-bottom: 30px;
    }
    input[type=range] {
      width: 100%;
    }
    .building p {
      margin: 0;
      a {
        white-space: pre-wrap;
      }
    }
    .building.active p a {
      color: white;
    }
  }
  .highlighted {
    border:none;
    background: #ffffff;
  }
  #layer-slider {
    position:absolute;
    top:350px;
    left:5%;
    right:15%;
    width:80%;
    z-index:120;
  }
}
.gm-style-iw {
  div.row {
    margin-left:0;
    margin-right:0;
    & > div:first-child {
      padding-left:0;
    }
    & > div:last-child {
      padding-right:0;
    }
  }
}

.layer {
  input[type=range] {
    width: 100%;
  }
}

