@import "variables";
@import 'include-media';

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
}

a {
  color: $link-color;
}

.clear {
  clear:both;
}

.content-header {
  @include media('>=tablet') {
    display: flex;
    justify-content: space-between;
    h1 {
      margin-right: auto;
    }
    .pills {
      margin-left: auto;
    }
  }
  @include media('<tablet') {
    margin-bottom: 1rem;
  }
}

.container {
  position: relative;
  width: 100%;
  //max-width: 1366px;
  margin: 0 auto;
}

body > header {
  nav.navbar.navbar-fixed {
    //height: auto !important;
    z-index: 25;
    box-shadow: 0 30px 30px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    background: white;
    img {
      height: 40px;
      & + img {
        height: 30px;
        margin-left: 20px;
      }
    }
  }
  & + .container-fluid {
    padding: 0 40px 40px;
    margin-top: 110px;
    //height: calc(100% - 110px);
  }

  & + .container {
    //padding: 0 40px 40px;
    margin-top: 20px;
    //height: calc(100% - 110px);
  }
}

.btn + .btn {
  margin-left: 8px;
}

.jumbotron {
  background: white;
  border-radius: 0;
  color: rgba(26,26,26,.9);
  p { margin: 0 0 1rem; }
  .lead { margin: 0; font-size: 1.5rem; }
}

h2.text-center {
  margin-bottom: 4rem;
}

p.text-center {
  padding-top: 1.5rem;
  a {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

@include media('<tablet') {
  h1 {
    font-size: 2rem;
  }
  body > header nav.navbar.navbar-fixed {
    height: auto;

    .navbar-brand {
      margin-right: 0;
    }

    img:first-of-type {
      height: 30px;
    }
    img + img {
      height: 20px;
      margin-left: 4px;
    }
  }
  body > header + .container {
      padding: 0 20px 20px;
      margin-top: 20px;
  }
}

p {
  margin:1em 0;
}

.autocomplete-suggestion {
  padding: 0.25rem 0.875rem;
}

.boolean, .check_boxes {
  label.check_boxes {
    font-weight: bold;
  }
  label.control-label {
    display:none;
  }
  label {
    font-weight:normal;
    float:none;
    display:inline;
    vertical-align: middle;
  }
  input[type=checkbox] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    margin-right:8px;
    position:static;
    margin-top:0;
  }
}

.check_boxes {
  span.checkbox {
    margin-top:0;
    margin-bottom:0;
  }
}

.radio_buttons {
  input[type=radio] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    position:static;
    margin-right:8px;
    margin-top:0;
  }
  label.control-label {
    float:none;
    width:auto;
  }
}

div.date {
  label {
    display:block;
  }
  select {
    width: auto;
    display:inline-block;
  }
}

.photo {
  border-bottom: 1px solid #cccccc;
  margin-bottom:0.5em;
  &:last-child {
    border-bottom: none;
    margin-bottom:0;
  }
}

#search-pagination-top {
  vertical-align: middle;
  nav {
    display: inline-block;
  }
}

#sort-filters {
  label {
    display:block;
    float:none;
  }
}
.value-input-container {
  display:inline;
}

#fieldSelector .checkboxes,
.value-input-container.checkboxes {
  display:block;
  // max-height:200px;
  overflow:auto;
  column-gap: 10px;
  -webkit-column-gap: 10px;
  vertical-align:top;
  label.checkbox {
    padding-left:20px;
    margin-top:0;
    margin-bottom:0;
    font-weight:normal;
  }

  &.column-count-2 {
    column-count: 2;
  }
  &.column-count-3 {
    column-count: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }
  &.column-count-4 {
    column-count: 4;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#attribute-filters {
  clear: both;
}

#grid-filters {
  .dropdown, .btn-group-toggle {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    margin-bottom: 12px;
    .form-actions {
      display: flex;
    }
  }
  .btn-group-toggle {
    cursor: pointer;
  }
  .dropdown-item.checkbox {
    vertical-align: middle;
    input {
      margin-right: 10px;
    }
  }
  .dropdown .form-actions {
    padding: 15px;
    margin-top: 10px;
    border-top: 1px solid $border-color;
  }
  .dropdown {
    .close {
      float: none;
      margin-right: 6px;
    }
  }
  #sort-filters {
    display: inline;
    label, select {
      display: inline;
      width: auto;
    }
  }
}

#grid {
  width: 100%;
  height: calc(100vh - 360px);
  font-size:11px;
  span.badge {
    margin-left: 10px;
  }
  h1 {
    margin-top:0;
  }
  td {
    //white-space: nowrap;
    min-width:50px;
    max-width:300px;
    p:first-child {
      margin-top:0;
    }
    p:last-child {
      margin-bottom:0;
    }
  }
  table {
    margin-top:1em;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    width:auto;
  }
  th {
    border-top:1px solid #ccc;
  }
  th, td {
    border-left:1px solid #ccc;
  }
}

#search-pagination-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  font-size: 14px;
}

.check_boxes {
  span.checkbox {
    margin-top:0;
    margin-bottom:0;
  }
}

.boolean, .radio_buttons, .check_boxes {
  input[type=radio],
  input[type=checkbox] {
    width:auto;
    vertical-align: middle;
    display:inline;
    padding:6px 12px;
    position:static;
    margin-right:8px;
    margin-top:0;
    border:none;
    box-shadow:none;
  }
  span.radio, span.checkbox {
    margin-right:20px;
    label.control-label {
      float:none;
      width:auto;
    }
  }
}

.card > .table {
  margin-bottom: 0;
}

form table {
  th, td {
    vertical-align: top;
  }
}

.census-slider-wrapper {
  width: 100%;
  height: auto;
}
.census-slider {
  display: flex;
  transition: 1s ease flex-wrap;
  &.vertical {
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    .form-group {
      border-top: 1px solid $border-color;
    }
  }
  &.horizontal {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  &.hidden {
    display: none;
  }
  margin: -1.125rem;
  h3 {
    border-top: 1px solid $border-color;
    padding: 2rem 1.125rem 1.125rem;
    flex-basis: 100%;
  }
  fieldset {
    min-width: auto;
  }
  .form-group {
    //min-width: 200px;
    margin-bottom: 0;
    padding: 1.125rem;
    flex-basis: auto; /* default value */
    flex-grow: 1;
    border-right: 1px solid $border-color;
    & > label, & > legend {
      white-space: nowrap;
      display: block;
    }
    &.focused {
      &, legend {
        background-color: #f7f7f7;
      }
    }
    &.disabled {
      opacity: 0.6;
    }
    .form-check, .form-check-label {
      white-space: nowrap;
    }
    input[type=number],
    input[type=text] {
      min-width: 140px;
    }
  }
}
.census-hint-wrapper {
  position: fixed;
  left: 50%;
  z-index: 40;
  bottom: 10px;
}

.census-hint {
  position: relative;
  left: -50%;
  background-color: #f7f7f7;
  padding: 1.125rem;
  border: 2px solid $border-color;
  border-radius: 6px;
}

.form-actions {
  margin-top: 2.25rem;
  padding-top: 1.125rem;
  border-top: 1px solid $border-color;
}

[data-href] {
  cursor: pointer;
}

.hint-bubble {
  display: none;
}

.readonly-form {
  //@include media('>=desktop') {
  //  column-count: 2;
  //  column-gap: 50px;
  //  h3 {
  //    margin: 0 -1.25rem;
  //  }
  //}

  //h3 {
  //  border-bottom: 1px solid $border-color;
  //  margin: 1rem -1.25rem;
  //  padding: 1rem 1.25rem;
  //  break-inside: avoid-column;
  //}
  //.form-group {
  //  border-bottom: 1px solid $border-color;
  //  padding-bottom: 1rem;
  //  break-inside: avoid-column;
  //}
  i.float-right {
    display: none;
  }
  .form-check {
    padding-left: 0;
  }
  .form-group {
    margin-bottom: 0;
  }
}

label .fa.fa-question-circle {
  margin-left: 8px;
  cursor: pointer;
}

i.fa.fa-close {
  cursor: pointer;
}

abbr[title] {
  cursor: default;
  text-decoration: none;
}

.cms-image {
  img {
    max-width: 100%;
  }
}

.btn.btn-primary {
  background-color: #5A8688;
}

.btn.btn-round {
  border-radius: 100px;
}

.nav-item.emphasized {
  border: 2px solid rgba(0,0,0,0.5);
  border-radius: 100px;
  &:hover {
    a.nav-link {
      color: white;
    }
    background: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.7);
  }
}

[data-parallax] {
  display: flex;
  justify-content: center;
  align-items: center;
  h1, h2, h3 {
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 3rem;
  }
}

.jumbotron {
  background: white;
  color: rgba(26,26,26,.9);
  padding: 40px;
  .lead { margin: 0; font-size: 1.5rem; }
}

.popover {
  max-width: 350px;
  img {
    max-width: 320px;
  }
}

.removed {
  opacity: 0.5;
}

.add-another-form {
  vertical-align: middle;
  @include media('<tablet') {
    display:block;
    .form-inline {
      display: block;
    }
  }
  @include media('>=tablet') {
    display:inline-block;
  }
}

.card-title {
  margin-bottom: 0;
}

#narrative-story .trix-content,
#building-description .trix-content {
  p {
    margin-bottom: 1rem;
  }
}

.trix-button-group--file-tools { display: none !important; }

#narrative_story {
  min-height: 16rem;
}

#alerts {
  .alert {
    position: relative;

    .closer {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}